.slider {
  position: relative;
  width: 80%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}

.slider__image {
  position: absolute;
  width: 100%;
  height: 500px;
  /* object-fit: cover; */
  transition: all 1s;
}

.slider__image-prev {
  transform: translateX(-100%);
}

.slider__image-next {
  transform: translateX(100%);
}
